.idea/**/*
editorconfig/BlazorAppWithEditorConfig/.vs/BlazorAppWithEditorConfig/DesignTimeBuild/.dtbcache.v2
editorconfig/BlazorAppWithEditorConfig/.vs/ProjectEvaluation/blazorappwitheditorconfig.metadata.v2
editorconfig/BlazorAppWithEditorConfig/.vs/ProjectEvaluation/blazorappwitheditorconfig.projects.v2
